<main class="hero-section text-center d-flex flex-column align-items-center justify-content-center vh-100">
    <!-- Presentación -->
    <div class="d-flex align-items-center mb-4">
        <img src="/assets/media/img/foto-prueba.webp" alt="Profile Picture" class="rounded-circle border" style="width: 120px; height: 120px;">
        <div class="ms-3 text-start">
            <h2 class="mb-1 fs-4 fw-bold text-white">Ian Catalán.</h2>
            <p class="mb-0 text-secondary">
                <img src="/assets/media/img/chile.png" alt="Chile Flag" class="me-2" style="width: 16px;"> Made in Chile
            </p>
        </div>
    </div>

    <!-- Título principal -->
    <div class="mb-4">
        <h1 class="display-1 fw-bold text-white">FULLSTACK <br>WEB<br> DEVELOPER</h1>
    </div>

    <!-- Botón de contacto -->
    <div class="mb-4">
        <a href="#contact" class="btn btn-outline-light rounded-pill px-4 py-2 fs-5 d-flex align-items-center">
            <i class="fa-regular fa-paper-plane"></i>Contact Me
        </a>
    </div>

    <!-- Íconos -->
    <div class="d-flex gap-4">
        <a href="https://www.linkedin.com/in/ian-ignacio-catal%C3%A1n-leiva-57a615227/" target="_blank" class="text-white fs-3">
            <i class="fa-brands fa-linkedin"></i>
        </a>
        <a href="https://github.com/IanCatalan" target="_blank" class="text-white fs-3">
            <i class="fa-brands fa-github"></i>
        </a>
        <a href="#" target="_blank" class="text-white fs-3">
            <i class="fa-solid fa-file-arrow-down"></i>
        </a>
    </div>
</main>

 <!-- Acerca de mi -->
<hr>
<div class="about-me container text-center my-5 border border-2 rounded-4 w-100">
    <h2 class="mb-4">About me</h2>
</div>


 <!-- Tecnologías -->
<div class="tech-stack container text-center my-5 border border-2 rounded-4">
    <h2 class="mb-4">Tech Stack</h2>
    <div class="row g-4">
        <div class="col-6 col-md-4 col-lg-3 highlight">
            <i class="fa-brands fa-js fs-1 d-block"></i>
            <span class="fs-6">JavaScript</span>
        </div>
        <div class="col-6 col-md-4 col-lg-3 highlight">
            <i class="fa-brands fa-html5 fs-1 d-block"></i>
            <span class="fs-6">HTML</span>
        </div>
        <div class="col-6 col-md-4 col-lg-3 highlight">
            <i class="fa-brands fa-css3-alt fs-1 d-block"></i>
            <span class="fs-6">CSS3</span>
        </div>
        <div class="col-6 col-md-4 col-lg-3 highlight">
            <i class="fa-solid fa-database fs-1 d-block"></i>
            <span class="fs-6">SQL</span>
        </div>
        <div class="col-6 col-md-4 col-lg-3 highlight">
            <i class="fa-brands fa-git-alt fs-1 d-block"></i>
            <span class="fs-6">Git</span>
        </div>
        <div class="col-6 col-md-4 col-lg-3 highlight">
            <i class="fa-brands fa-github fs-1 d-block"></i>
            <span class="fs-6">GitHub</span>
        </div>
        <div class="col-6 col-md-4 col-lg-3 highlight">
            <i class="fa-brands fa-node-js fs-1 d-block"></i>
            <span class="fs-6">Node.js</span>
        </div>
        <div class="col-6 col-md-4 col-lg-3 highlight">
            <i class="fa-brands fa-bootstrap fs-1 d-block"></i>
            <span class="fs-6">Bootstrap</span>
        </div>
        <div class="col-6 col-md-4 col-lg-3 highlight">
            <i class="fa-brands fa-react fs-1 d-block"></i>
            <span class="fs-6">React</span>
        </div>
    </div>
</div>

