/* Luz de fondo */

/* NavBar */
.nav-item:hover{
    color: #ffffff; 
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8); /* Efecto de luz*/
}

/* Imagénes (perfil y bandera) */

@keyframes shake {
    0% { transform: translateX(0); }
    20% { transform: translateX(-5px); }
    40% { transform: translateX(5px); }
    60% { transform: translateX(-5px); }
    80% { transform: translateX(5px); }
    100% { transform: translateX(0); }
  }
  
.tremor:hover {
    animation: shake 0.5s ease-in-out;
    display: inline-block; /* Asegura que las transformaciones aplican */
}
/* Texto principal */
.hero-section h1 {
    transition: color 0.3s, text-shadow 0.3s ease;
}

/* Hover en el título */
.hero-section h1:hover {
    color: #ffffff; 
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.8); /* Efecto de luz*/
}

/* Botón de contacto */
.hero-section .btn {
    font-size: 1.25rem;
    transition: all 0.3s ease;
    color: #fff;
    border-color: #fff;
}

.hero-section .btn:hover {
    color: #000; 
}
.hero-section .biC {
    transition: color 0.2s ease;

}
.hero-section .biC:hover {
    color: black; 
}

.hero-section .d-flex a {
    position: relative;
    transition: transform 0.3s ease;
}

.hero-section .d-flex a:hover {
    transform: translateX(2px); 
}

/* Tecnologías */
.tech-stack .highlight{
    transition: text-shadow 0.3s ease;
}

.tech-stack .highlight:hover {
    text-shadow: 0px 0px 10px rgb(255, 0, 0); /* Efecto de luz*/
}

/* Proyectos */
.card-img-top {
    height: 450px; 
    object-fit:scale-down; 
    width: 100%; 
}